#page-create-point{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-point header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-create-point header a span{
    background-image: url('../assets/arrow-left.svg');
    display: flex;
    margin-right: 16px;
    width: 20px;
    height: 23px;
}

form{
    background-color: white;
    padding: 64px;
    border-radius: 8px;
    max-width: 730px;
    margin: 80px auto 0;
}

form h1{
    font-size: 36px;
}

form fieldset{
    margin-top: 64px;
    border: none;
}

form legend{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form legend span{
    color: var(--title-color);
    font-size: 14px;
}

form legend h2{
    font-size: 24px;
}

form .field{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group{
    display: flex;
}

form select,
form input{
    background-color: #f0f0f5;
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label{
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field{
    margin-left: 24px;
}

form button{
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-top: 40px;
    transition: background-color, 400ms;
    margin-top: 30px;
}

form button:hover{
    background-color: #2fb86e;
}

.items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li{
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    cursor: pointer;
}

.items-grid li span{
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
    margin-top: 12px;
}

.items-grid li.selected{
    background-color: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span{
    pointer-events: none;
}



