@media (max-width: 900px){

    #page-home{
        background-position: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 18px;
        left: 45%;
        transform: translateX(-45%);
    }

    #page-home main{
        align-items: center;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }

    #page-create-point .field-group{
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field{
        margin-left: 0;
    }

    #page-create-point .items-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1700px){
    #page-home{
        background-position: 40vw;
    }
}

@media (min-height: 760px){
    #page-home{
        background-position-y: 150px;
    }
}